
.form-container {
    
    margin: 10px auto;
    width: 1000px;
    box-shadow: 10px 10px 6px rgb(37, 117, 117);
    padding: 10px;
    background-color: #E1E6E6;
    border-radius: 15px;
}


.title {
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    margin-bottom: 30px;
    /* background-color: #E1E6E6; */
}

input.signup-btn {
    width: 50%;
    padding: 12px 10px;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    background-color: green;
    color: white;
    margin: 5px 150px 0px;
}

input.signup-btn:hover {
    background-color: greenyellow;
    cursor: pointer;
}

.profile-pic, .contact, .docs, .user {
    display: block;
    /* border-radius: 30px; */
    /* border: 1px solid rgba(0, 0, 0, 2); */
    padding: 10px;
    margin: 5px 0;
}