:root {
    --clr--head: #48897c;
    --clr-side: #e3e4e6;
    --clr-main: #48897c;
    --text-light: #ddd;
    --text-dark: #1D2731;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #48897c;
    /* background-image: url(img/bg-img.png); */
    background-repeat: no-repeat;
    background-size: cover;
    
}
nav {
    margin-bottom: 0;
}

a {
    color: var(--text-dark);
}
/* Simple dashboard grid */
.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
    height: 100vh;
    /* width: 100vw; */
}
    
.header {
    grid-area: header;
}

.sidenav {
    grid-area: sidenav;
    background-color: var(--clr-side);
}
  
.main {
    grid-area: main;
    background-color: var(--clr-main);
}
  
.footer {
    grid-area: footer;
}

/* Header and Footer flex */
.header, .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: var(--clr-side);
    /* color: var(--text-dark); */
}

.header__avatar:hover {
    cursor: pointer;
    
}

/* Sidebar flex */
.sidenav {
    display: flex; /* Will be hidden on mobile */
    flex-direction: column;
    grid-area: sidenav;
}

.sidenav__list {
    padding: 0;
    margin-top: 85px;
    list-style-type: none;
}

.sidenav__list-item {
    padding: 20px 20px 20px 40px;
    background-color: #ebebeb;
    color: var(--text-dark);
    margin-bottom: 5px;
}

.sidenav__list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

/* Main Header flex */
.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px; 
    align-items: stretch;
    background-color: #e3e4e6;
    color: var(--text-dark);
    /* position: absolute; */
}

.main-header__heading {
    position: relative;
    /* align-self: center; */
    /* left: 50%; */
    /* text-align: center; */
}

.main-header__img {
position: relative;
display: block;
/* align-self: center; */
max-width: 50%;
    
}


/* Main overview cards flex */
.main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 92px;
    grid-gap: 20px;
    margin: 20px;
}
  
.overviewcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #D9B310;
}

/* Main cards flex */
.main-cards {
    column-count: 2;
    column-gap: 20px;
    margin: 20px;
    color: var(--text-dark);
}
  
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--clr-side);
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
}


.card:first-child {
    height: 485px;
}

.card:nth-child(2) {
    height: 200px;
}

.card:nth-child(3) {
    height: 265px;
}
.main-cards .card__img {
    width: 100%;
}

/* Responsiveness for mobile and tablets */
.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Side nav is hidden on mobile */
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      'header'
      'main'
      'footer';
    height: 100vh;
}
  
.sidenav {
    display: none;
    grid-area: sidenav;
}
  
.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
}
  
/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
    .grid-container {
      grid-template-columns: 240px 1fr; /* Show the side nav for non-mobile screens */
      grid-template-areas:
        "sidenav header"
        "sidenav main"
        "sidenav footer";
    }

    .sidenav {
      display: flex;
      flex-direction: column;
    }
}

/* Tablet, 1050px) */
@media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
      column-count: 2;
    }
}

/* Hamburger  */
.menu-icon {
    position: fixed;
    display: flex;
    top: 5px;
    left: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    padding: 12px;
    background-color: #DADAE3;
}
  
/* Make room for the menu icon on mobile */
.header__search {
    margin-left: 42px;
}
  
/* Mobile-first side nav styles */
.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 2; 
    /* background-color: #394263; */
    transform: translateX(-245px);
    transition: all .6s ease-in-out;
}
  
/* The active class is toggled on hamburger and close icon clicks */
.sidenav.active {
    transform: translateX(0);
}
  
/* Only visible on mobile screens */
.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: var(--text-light);
}
  
/* Non-mobile styles for side nav responsiveness, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
    .sidenav {
      position: relative; /* Fixed position on mobile */
      transform: translateX(0);
    }
  
    .sidenav__close-icon {
      visibility: hidden;
    }
}

/* Styling for unregistered user content */
.base-container {
    display: grid;
    grid-template-areas:
      "main"
      "footer";
    height: 100vh;
}
.base-header {
    display: flex;
    margin: 20px;
    padding: 20px;
    height: 150px; 
    background-color: #e3e4e6;
    position: relative;
}

.base-header__heading {
    position: absolute;
    align-self: center;
    grid-area: main;

}

.base-footer {
    display: flex;
    grid-area: footer;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: var(--clr--head);
    color: var(--text-dark);
    align-self: flex-end;

}
